*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form_cd{
	width:  100%;
	max-width:  300px;
	padding: 30px;
	background-color: #6495ed;
	trasform:  translate(-50%,-50%);
	top: 50%;
	left:  50%;
	position: absolute;
	text-align: center;
}

form_input[type="text"]{
	width:  300;
	padding: 20px;
	margin-top: 10px;
	outline: 0;
}

form_input[type="hidden"]{
	width:  300;
	padding: 20px;
	margin-top: 10px;
	outline: 0;
}